<div class="card shadow table-responsive">
  <table class="table">
    <thead class="table-light">
      <tr>
        <th>#</th>
        <th>Time</th>
        <th title="Total de pontos">PTS</th>
        <th title="Total de jogos">J</th>
        <th title="Total de vitorias">V</th>
        <th title="Total de empates">E</th>
        <th title="Total de derrotas">D</th>
        <th title="Total de gols marcados">GP</th>
        <th title="Total de gols contra">GC</th>
        <th title="Saldo de gols">SG</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let team of classification; let i = index"
        [ngStyle]="{ 'background-color': i > 15 ? 'rgb(240, 207, 207)' : '' }"
      >
        <td>{{ i + 1 }}º</td>
        <td>
          <img [src]="team.teamCrest" height="30" [title]="team.team" />
        </td>
        <td>
          {{ team.points }}
        </td>
        <td>
          {{ team.totalMatches }}
        </td>
        <td>
          {{ team.victories }}
        </td>
        <td>
          {{ team.ties }}
        </td>
        <td>
          {{ team.defeats }}
        </td>
        <td>
          {{ team.goalsFor }}
        </td>
        <td>
          {{ team.goalsAgainst }}
        </td>
        <td>
          {{ team.goalsDifference }}
        </td>
      </tr>
      <tr *ngIf="classification.length == 0">
        <td colspan="10">Classificação não encontrada</td>
      </tr>
    </tbody>
  </table>
</div>
