.scoreboard {
  font-size: 25px;
  font-weight: bold;
}

.match-info {
  font-size: 13px;
  color: gray;
}

.round-selector {
  background-color: #f8f9fa;
  height: 41px;
}

.round-selector-text {
  font-weight: bold;
  color: green;
}

button {
  border-radius: 35px;
  height: 29px;
  width: 29px;
}
