.round-selector {
  background-color: #f8f9fa;
  height: 41px;
}

.round-selector-text {
  font-weight: bold;
  color: rgb(73, 91, 168);
}

button {
  border-radius: 35px;
  height: 29px;
  width: 29px;
  color: rgb(73, 91, 168);
}

fa-icon {
  font-size: 18px;
}
