<div class="card shadow-sm py-3">
  <div class="row">
    <div class="col-12 d-flex justify-content-center match-date">
      {{ match.date | date: "dd/MM/yyyy HH:mm" }}
    </div>
  </div>

  <div class="scoreboard my-2">
    <div class="scoreboard-item">
      <img
        [src]="match.homeTeamCrest"
        height="40"
        width="40"
        [title]="match.homeTeam"
      />
    </div>
    <div class="scoreboard-item">
      {{ match.homeTeamGoals }}
    </div >
    <div class="scoreboard-item">X</div>
    <div class="scoreboard-item">
      {{ match.visitorTeamGoals }}
    </div>
    <div class="scoreboard-item">
      <img
        [src]="match.visitorTeamCrest"
        height="40"
        width="40"
        [title]="match.visitorTeam"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <span class="badge rounded-pill bg-warning text-dark">{{
        match.stadium
      }}</span>
    </div>
  </div>
</div>
